<div class="container">
    <div class="row">
        <div class="col text-center">
            <img src="img/johannes.png" alt="Johannes" width="200">
            <h1 class="display4">Johannes Sibarani</h1>
            <p class="lead">Mahasiswa | Programmer</p>
        </div>
    </div>
</div>